*, body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  

}

body{
  background-color: rgb(160, 62, 252);
 
  

}

.login-bg{
  background: white !important;
}


.bg-kodegreen{
  background-color: #669e00;
}

.kodegreen{
  color: #669e00 !important;
}

.bg-kodepurple{
  background-color: #0d6efd;
}

.kodepurple{
  color: #0d6efd !important;
}

.sidebarborder{
  border-radius: 0px 50px 0px 0px;
}

.navlinkstyle{
  border-radius: 0px 50px 0px 0px;
  border: 1px solid wheat;

}

.colourmix{
  background-color: purple-400;
}